@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  color: #fff;
  width: 100vw;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

:focus {
  outline: 0;
}
blockquote {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-left: 5px solid $secondary;
  background-color: rgba($primary, 0.5);
}
a {
  text-decoration: none;
  display: block;
  transition: all 0.5s;
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
    // text-shadow: 1px 1px 1px rgba(#000,0.7);
  }
}

p {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
td,
th {
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
ul.point {
  li {
    list-style: circle;
    list-style-position: inside;
  }
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
button {
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;

  background: #fff;
  border: #999 solid 1px;
  border-radius: 3px;
  // min-height: 15px;
  // min-width: 15px;
}
input[type='checkbox']:checked {
  background: $secondary;
  border-color: $secondary;
}
input[type='checkbox']:checked::after {
  content: '';
  top: 3px;
  left: 3px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 5px;
  width: 8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.material-icons {
  vertical-align: text-bottom;
}

.ck-editor__editable_inline {
  min-height: 500px;
}
