.breadcrumb {
  display: flex;

}

.breadcrumb-item {
  position: relative;
  display: flex;
  margin-right: 5px;
  transition: all 0.5s;
  &:not(:first-child) {
    &::before {
      float: left;
      margin-right: 5px;
      color: #fff;
      content: '/';
      font-weight: normal;
    }
   
  }
  &:not(:last-child) {
    opacity: 0.8;
}
  &:hover {
    opacity: 1;
  }
  &.active {
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    &::before {
      font-weight: normal;
      text-shadow: none;
    }
  }
}
