

.card-img{
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  
  height:240px;
  margin-bottom: 16px;
  @include media-breakpoint-up(sm) {
    height: 320px;
  }
  img{
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: all 1s;
    &.show-card-img{
      opacity: 1;
    }
  }
}
.card-small-img{
  height: 180px;
}
.card-title{
  font-weight: normal;
  font-size: 18px;
}

.card-img-rotate{
  &:hover{
    transform: rotate(2deg);
  }
}
.add-loading{
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0.5;
  cursor: not-allowed;
}

.addCartAnimation{
  position: fixed;
  width: 38px !important;
  height: 38px !important;
  border-radius: 50% !important;
  opacity: 0;
  pointer-events: none;
  z-index: 10;

}
.addCartAnimation.show{
  opacity: 1;
  
 
}
.addCartAnimation.move{
  left: calc(100% - 56px)!important;
  top: calc(100% - 152px) !important;
  animation: addscale 0.5s linear 0.5s forwards;
  transition: all 0.8s;
  @include media-breakpoint-up(sm) {
    left: calc(100% - 64px)!important;
  top: calc(100% - 152px) !important;
  }
}

.cartCard-btn{
  padding-top: 3px;
  padding-bottom: 3px;
}

@keyframes addscale{
  0%{
    transform: scale(1);
  }
 
  100%{
    transform: scale(0);
  }
}
