


.swiper-slide {
  text-align: center;
  // font-size: 18px;


  // /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.swiper-container {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.sale-container{
  height: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.sale-wrapper{
  padding: 15px 0;
}
.mySwiper2 {
  
  width: 100%;
  margin-bottom: 24px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper2 {
  height: 300px !important;
  @include media-breakpoint-up(sm) {
    height: 360px!important;
  }
  @include media-breakpoint-up(md) {
    height: 500px !important;
  }
  
}
.mySwiper .swiper-slide {
  cursor: pointer;
  width: 80px !important;
  height: 80px !important;
  opacity: 0.4;
  border-radius: 5px;
  transition: all 0.5s;
  @include media-breakpoint-up(md) {
    width: 100px !important;
    height: 100px !important;
  }
  &:hover{
    opacity: 1;
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,.swiper-button-next{
  color: #fff !important;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 36px !important;
  height: 36px !important;
  &::after{
    font-size: 16px !important;
  }
  @include media-breakpoint-up(md) {
    width: 48px !important;
    height: 48px !important;
  &::after{
    font-size: 20px !important;
  }
  }
}
.swiper-button-prev{
  left: -200px !important;
} 
.swiper-button-next{
  right: -100px !important;
  transition: all 0.5s;
  display: none !important;
  @include media-breakpoint-up(sm) {
    
    display: flex !important;
  }
  @include media-breakpoint-up(md) {
    right: -120px !important;
  }
  @include media-breakpoint-up(lg) {
    right: -150px !important;
  }
  @include media-breakpoint-up(xl) {
    right: -200px !important;
  }
 

  &:hover{
   
    transform: scale(0.9);
  }
}

.swiper-pagination{
  position: relative !important;
}

.swiper-pagination-bullet{
  background-color: rgba(#fff,0.8) !important;
  margin: 0 8px;
}
