.rotate-circle{
  position: absolute;
  opacity: 0.3;
  right: 34%;
  top: 38%;
  
}


.rotate{
  animation: rotate 10s linear infinite;
}
.arrow-rotate{
  transition: all 0.5s;
  transform: rotate(180deg);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}