

.rotate{
  
  z-index: 10;
  animation: rotate 10s linear infinite;
}
.arrow-rotate{
  transition: all 0.5s;
  transform: rotate(180deg);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}