.title {
  position: relative;
  margin-right: 60px;
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 30px;
    right: -15px;
    top: 50%;
    width: 1px;
    border-left: 1px solid #fff;
    transform: translateY(-50%) skewX(-45deg);
    transform-origin: left bottom;
  }
}
.rounded-sm-pill{
  border-radius: 0px !important;
  @include media-breakpoint-up(sm) {
    border-radius: 50rem !important;
  }
}
.cate-active {
  color: #c3ac9b;
  text-shadow: 1px 1px 1px rgba(#000, 0.7);
}

.img-overlay {
  position: absolute;
  z-index: -1;
  top: 30%;
  left: 0;
  width: 54%;
  height: 40%;
  background: linear-gradient(to right, rgba(#91775e, 0.8) 0%, rgba(#91775e, 0.3) 100%);

  filter: blur(1px);
}
.btn-outline-info {
  &:hover {
    text-shadow: none;
  }
}

.shadow-none {
  text-shadow: none !important;
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  opacity: 0.4;
  left: calc(50% - 1px);
}

.sale-item {
  position: relative;
  text-align: left;
  transform: scale(0.95);
  transition: all 0.5s;
  &:hover {
    transform: scale(1);
  }
}
.sale-tag {
  position: absolute;
  background: $dark;
  color: #fff;
  padding: 4px 12px;
  top: -12px;
  right: -12px;
}

.home-ellipse {
  position: absolute;
  left: 30%;
  top: 60%;
  opacity: 0.5;
  ellipse {
    stroke-dasharray: 4;
    animation: dash 5s linear infinite;
  }
}

.btn {
  position: relative;
  overflow: hidden;
}

.btn-hover {
  transition: all 0.5s;
  span{
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(#fff, 0.2);
    top: 0;
    left: 0;
    transition: all 0.3s;
    clip-path: circle(0% at 50% 50%);
    z-index: 0;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($dark, 1);
    top: 0;
    left: 0;
    transition: all 0.4s;
    clip-path: circle(0% at 50% 50%);
    z-index: 0;
  }
  &:hover {
    box-shadow:1px 1px 5px rgba(0,0,0,0.6);
    &::before {
      clip-path: circle(100% at 50% 50%);
    }
    &::after {
      clip-path: circle(50% at 50% 50%);
      transition-delay: 0.2s;
    }
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 50;
  }
}
