.title {
  position: relative;
  margin-right: 60px;
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 30px;
    right: -15px;
    top: 50%;
    width: 1px;
    border-left: 1px solid #fff;
    transform: translateY(-50%) skewX(-45deg);
    transform-origin: left bottom;
  }
}
.rounded-sm-pill {
  border-radius: 0px !important;
  @include media-breakpoint-up(sm) {
    border-radius: 50rem !important;
  }
}
.cate-active {
  display: inline-block;
  position: relative;
  margin-right: 48px;
  color: $dark;
  background-color: #fff;
  border-radius: 50rem;
  padding: 8px 12px;
  span {
    display: none;
  }
  &:hover {
    color: $dark;
    @include media-breakpoint-up(xl) {
      color: #fff;
    }
  }
  @include media-breakpoint-up(md) {
    margin-right: 64px;
  }
  @include media-breakpoint-up(xl) {
    padding: 0;
    border-radius: 0;
    color: #fff;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgba($dark, 0.6);
    &::before {
      content: '';
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      bottom: 1px;
      background-color: $secondary;
      z-index: -1;
    }
  }
}

.img-overlay {
  position: absolute;
  z-index: -1;
  top: 35%;
  left: 0;
  width: 72%;
  height: 240px;
  background: linear-gradient(to right, rgba(#91775e, 0.8) 0%, rgba(#91775e, 0.3) 100%);
  filter: blur(1px);
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @include media-breakpoint-up(md) {
    height: 360px;
  }
  @include media-breakpoint-up(lg) {
    width: 54%;
  }
}
.btn-outline-info {
  &:hover {
    text-shadow: none;
  }
}

.btn-dashed {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  &:hover {
    color: $dark;
    background: #fff;
    &::before {
      border: 1px dashed $dark;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 1px dashed #fff;
    animation: rotate 10s linear infinite;
  }
}

.shadow-none {
  text-shadow: none !important;
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  opacity: 0.4;
  left: calc(50% - 1px);
}

.sale-item {
  position: relative;
  text-align: left;
  transform: scale(0.95);
  transition: all 0.5s;
}
.sale-tag {
  position: absolute;
  background: $dark;
  color: #fff;
  padding: 4px 12px;
  top: -12px;
  right: -12px;
  font-size: 16px;
  z-index: 1;
}

.home-ellipse {
  position: absolute;
  left: 20%;
  top: 50%;
  opacity: 0.5;
  ellipse {
    stroke-dasharray: 4;
    animation: dash 5s linear infinite;
  }
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
  @include media-breakpoint-up(xl) {
    left: 30%;
  }
}

.btn {
  position: relative;
  overflow: hidden;
}
.about-img {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
  @include media-breakpoint-up(xl) {
    height: auto;
  }
}
.btn-hover {
  transition: all 0.5s;
  span {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(#fff, 0.2);
    top: 0;
    left: 0;
    transition: all 0.3s;
    clip-path: circle(0% at 50% 50%);
    z-index: 0;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($dark, 1);
    top: 0;
    left: 0;
    transition: all 0.4s;
    clip-path: circle(0% at 50% 50%);
    z-index: 0;
  }
  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    &::before {
      clip-path: circle(100% at 50% 50%);
    }
    &::after {
      clip-path: circle(50% at 50% 50%);
      transition-delay: 0.2s;
    }
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 50;
  }
}

.product-img {
  height: 300px;
  width: 100%;
  object-position: bottom;
  @include media-breakpoint-up(sm) {
    height: 360px;
  }
  @include media-breakpoint-up(md) {
    height: 500px;
  }
}

.no-allow {
  cursor: not-allowed !important;
}

.btn-secondary:focus {
  background-color: $secondary;
}

.home-swiper-img {
  overflow: hidden;
  height: 338px;
  img{
    transition: all 0.5s;
  }
  &:hover{
    img{
      transform: scale(1.1) rotate(5deg)
    }
  }
}
