

/*color*/
$primary :#f4d7c2;
$secondary:#bf7f5a;
$info:#cdcdcd;
$dark: rgb(57, 57, 57);
$light:rgba(#e9f1e4,0.6);
$warning:#c3774b;
$table:rgba(#fff,0.7);
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "info":       $info,
  "light":      $light,
  "dark":       $dark,
  "white":      #fff,
  "black" :   #121212,
  "warning":     $warning,
  "table":      $table,
);


/*spacer */
$spacer: 1rem ;
$spacers: (
  0:0,
  1:($spacer * 0.25),
  2: ($spacer * .375),
  3: ($spacer * 0.5),
  4: ($spacer * .75),
  5: $spacer,
  6:($spacer * 1.25),
  7: ($spacer * 1.5),
  8: ($spacer * 1.75),
  9: ($spacer * 2),
  10: ($spacer * 2.25),
  11: ($spacer * 2.5),
  12: ($spacer * 3.25),
  13: ($spacer * 3.75),
  15: ($spacer * 5),
  16: ($spacer * 6.625),
  17: ($spacer * 7),
);
$font-size-base: 1rem;

$font-size: () !default;
$font-size: map-merge(
  (
    'xs': ($font-size-base *0.75),
    'sm': ($font-size-base *0.875),
    'base': $font-size-base,
    'lg': ($font-size-base * 1.125),
    'xl' :($font-size-base * 1.25),
    '2xl': ($font-size-base * 1.5),
    '3xl': ($font-size-base * 1.75),
    '4xl': ($font-size-base * 2.25),
    'large': ($font-size-base * 3)
  ),
  $font-size
);

$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
);
$pagination-active-bg:$secondary;
$pagination-disabled-color: rgba($info,0.2);
$pagination-disabled-bg:  rgba(#eee,0.5);
$pagination-focus-box-shadow: none;